<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" />
  <package id="Proyecto26.RestClient" version="2.6.2" />
  <package id="RSG.Promise" version="3.0.1" />
</packages>